---
import Feriados from "../components/Feriados.astro";

	const feriados = [{
		fecha: '01/01/2023',
		feriado: 'Año Nuevo'
	},
	{
		fecha: '07/04/2023',
		feriado: 'Viernes Santo'
	},
	{
		fecha: '01/05/2023',
		feriado: 'Día del Trabajo'
	},
	{
		fecha: '29/06/2023',
		feriado: 'Día de San Pedro y San Pablo'
	},
	{
		fecha: '28/07/2023',
		feriado: 'Fiestas Patrias'
	},
	{
		fecha: '29/07/2023',
		feriado: 'Fiestas Patrias'
	},
	{
		fecha: '06/08/2023',
		feriado: 'Batalla de Junín'
	},
	{
		fecha: '30/08/2023',
		feriado: 'Santa Rosa de Lima'
	},
	{
		fecha: '08/10/2023',
		feriado: 'Combate de Angamos'
	},
	{
		fecha: '01/11/2023',
		feriado: 'Día de Todos los Santos'
	},
	{
		fecha: '08/12/2023',
		feriado: 'Día de la Inmaculada Concepción'
	},
	{
		fecha: '09/12/2023',
		feriado: 'Batalla de Ayacucho'
	},
	{
		fecha: '25/12/2023',
		feriado: 'Navidad'
	},
	{
		fecha: '01/01/2024',
		feriado: 'Año Nuevo'
	}]

	const feriadosPublico = [
		{
			fecha: '28/04/2023',
			feriado: 'Día no laborable para el sector público'
		},
		{
			fecha: '30/06/2023',
			feriado: 'Sector público'
		},
		{
			fecha: '09/10/2023',
			feriado: 'Sector público'
		},
		{
			fecha: '07/12/2023',
			feriado: 'Sector público'
		},
		{
			fecha: '26/12/2023',
			feriado: 'Sector público'
		},
		{
			fecha: '02/01/2024',
			feriado: '(2024) Sector público'
		}
	]

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Feriados Perú</title>
	</head>
	<body class="bg-gradient-to-r from-cyan-500 to-blue-500 p-3">
		<main class="max-w-screen-md mx-auto mt-4">
			<h1 class="font-bold text-4xl text-gray-200 bg-sky-900 p-3 rounded">Feriados de Perú del 2023 🇵🇪</h1>
			<Feriados list={feriados} />
			<h3 class="font-bold text-xl text-gray-200 mt-5 bg-sky-900 p-3 rounded">Feriados para el sector público:</h3>
			<Feriados list={feriadosPublico} />
		</main>
	</body>
</html>
